:root {
  /* Font-families */
  --font-family-primary: "Inter", sans-serif;
  --font-family-monospaced: "JetBrains Mono", monospace;
  --font-family-titles: "Cinzel", serif;

  /* Font-sizes */
  --font-size-sm: 0.875rem; /* 14px - Metadados, datas, labels de formulário e rodapés */
  --font-size-base: 1rem; /* 16px - Padrão universal e obrigatório para textos e parágrafos */
  --font-size-md: 1.25rem; /* 20px - Subtítulos (H3/H4) ou textos de destaque no card */
  --font-size-lg: 2.5rem; /* 32px - Títulos de seção (H2) */
  --font-size-xlg: 4rem; /* 64px - Títulos gigantes da Hero Section (H1) */

  /* Texts Colors */
  --text-main: hsl(37, 35%, 91%);
  --text-muted: hsl(36, 10%, 60%);
  --text-accent-brass: hsl(39, 82%, 60%);

  /* Metallic Colours */
  --andesite-dark: hsl(240, 7%, 11%);
  --andesite-polish: hsl(240, 5%, 18%);
  --andesite-highlight: hsl(240, 4%, 40%);

  --brass-dark: hsl(36, 56%, 35%);
  --brass-base: hsl(36, 64%, 54%);
  --brass-highlight: hsl(33, 84%, 63%);

  --copper-dark: hsl(20, 48%, 27%);
  --copper-base: hsl(20, 51%, 38%);
  --copper-highlight: hsl(20, 63%, 48%);
  --copper-text: hsl(21, 64%, 44%);

  /* Button Specific Colours */

  --btn-brass-top: #ffc570;
  --btn-brass-base: #f0a950;
  --btn-brass-bottom: #d4983e;
  --btn-brass-border: #d4983e;
  --btn-brass-text: #121214;

  --btn-andesite-top: #43434c;
  --btn-andesite-base: #2c2c31;
  --btn-andesite-bottom: #1a1a1e;
  --btn-andesite-border: #3f3f46;
  --btn-andesite-text: #b5b5ba;
  --btn-andesite-text-hover: #ffffff;
}
